html {
  font: $base-font-size/$base-line-height $base-font-family;
  @include font-smoothing;

  @media #{$mq-phone} {
    font-size: $base-font-size-mobile/$base-line-height $base-font-family;
  }
}

body {
  background-color: $body-bg-color;
  color: $base-text-color;
}

a {
  color: $base-text-color;
  text-decoration: none;
  border-bottom: 1px solid rgba($base-text-color, .65);
  transition-property: color, background-color;
  transition-duration: $transition-duration;
  &:hover {
    color: $base-text-color;
  }
}

input {
  transition-property: color, background-color, box-shadow;
  transition-duration: $transition-duration;
}

input[type=submit]:disabled {
  transition-duration: 0s;
}

::selection {
  background: rgba($main-color, .33);
  text-shadow: none;
}
