#component
  width: 100%
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  text-align: center

  .auth-link
    margin-left: .5rem
    padding: .3rem 1rem
    border-radius: 4px
    background-color: #00b3f1
    color: #fff
    text-decoration: none
    cursor: pointer
