#dummy
  width: 100%
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  text-align: center

  #auth
    display: block
    margin-top: 1rem
    .auth-link
      display: inline-block
      padding: .3rem 1rem
      border: 1px solid $blue
      border-radius: 4px
      background-color: #fff
      color: $blue
      text-decoration: none
      cursor: pointer
      &:active
        transform: translate(1px, 1px)
