/* Button */

button, .button
  padding: 1rem 2rem
  background-color: $blue
  border-radius: 8px
  color: #fff
  text-shadow: 0 0 1px rgba(0, 0, 0, .5)
  text-decoration: none
  line-height: normal
  &:focus
    box-shadow: none
  &:active
    transform: translate(1px, 1px)
  &:disabled
    background-color: alpha($blue, 0.45) !important
    border: 1px solid alpha($blue, 0) !important
    color: rgba(0, 0, 0, 0) !important
    text-shadow: none !important

.button-wrapper
  position: relative
  display: inline-block
