/* Fonts */
$base-font-size = 20px
$base-font-size-mobile = 20px
$base-line-height = 1.4

/* Colors */
$base-text-color = rgba(0, 0, 0, 0.8)
$body-bg-color = #eaeaea
$footer-bg-color = #fff
$main-color = #29d
$blue = #29d
$green = #8cc14c
$red = #da314b

/* Layout */
$min-width = 400px
$max-width = 700px

$layout-section
  margin: 0 auto
  min-width: $min-width
  max-width: $max-width

/* Effects */
$transition-duration = .2s


body

  #app
    width: 100%

    #layout
      margin: 0 auto
      max-width: $max-width
      min-width: $min-width

      @media mqPhone
        max-width: 100%
        min-width: 300px
        padding: 0 1rem 1rem
