html
  position: relative
  min-height: 100%

body
  margin: 0 0 $footer-height

#layout
  padding-bottom: $footer-padding

footer
  position: absolute
  left: 0
  right: 0
  bottom: 0
  height: $footer-height
  width: 100%
  background-color: $body-bg-color
  font-size: .7rem

  @media mqPhone
    font-size: .5rem


  #footer__inner
    position: absolute
    left: 0
    right: 0
    bottom: 0
    width: 100%
    height: $footer-height
    background-color: $footer-bg-color
    display: flex
    justify-content: center
    align-items: center
    #footer__text
      flex: 1
      display: block
      text-align: center
      a
        color: #777
        text-decoration: none
        &:hover
          color: $base-text-color
          text-decoration: none
