/* Button */

.button
  padding: 1rem 2rem
  background-color: #2299dd
  border-radius: 8px
  color: #fff
  text-decoration: none

/* Loader */

@keyframes loader
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

.loader-wrapper
  position: absolute
  z-index: 1500
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)

  .loader
    width: 28px
    height: 28px
    box-sizing: border-box
    border: solid 2px transparent
    border-top-color: #fff
    border-left-color: #fff
    border-radius: 50%
    animation: loader 400ms linear infinite

