/* Fonts */
$base-font-family = Tahoma, Helvetica, Arial, sans-serif
$base-icon-font = "icomoon"
$base-font-size = 20px
$base-line-hight = 1.4


/* Colors */
$base-text-color = #000
$body-bg-color = #fff
$footer-bg-color = #eee
$main-color = #2299dd


/* Layout */
$min-width = 400px
$max-width = 700px
$footer-height = 80px
$footer-padding = 40px

$layout-section
  margin: 0 auto
  min-width: $min-width
  max-width: $max-width


/* Effects */
$transition-duration = .2s
